<div style="border: 1px solid; padding: 10px">
	<p style="border-bottom: 1px solid">
	  <strong>Autor:</strong>
	  <%= comment.commenter %>
	</p>
	 
	<p>
	  <strong>Comentário:</strong>
	  <%= comment.body %>
	</p>
	<p>
	  <%= link_to 'Apagar comentário', [comment.article, comment],
	               method: :delete,
	               data: { confirm: 'Tem certeza?' },
	               class: "btn btn-danger" %>
	</p>
</div>
<br>