<ul class="nav nav-pills navbar-light" style="background-color:#B0C4DE; padding-left: 100px;">
	  <li>
	    <%= link_to 'Index', controller: 'welcome' %>
	  </li>
	  <li>
	    <%= link_to 'Blog', controller: 'articles' %>
	  </li>
	  <li>
	    <%= link_to 'Novo Artigo', new_article_path %>
	  </li>
</ul>