caption, table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 15px;
	padding-left: 25px;
	padding-right: 25px
}

caption {
	border: 1px solid black;
	border-bottom: none;
	font-weight: bold;
	font-size: 200%;
	padding: 15px;
	padding-top: 5px;
	padding-bottom: 25px;
}

td {
	padding: 15px;
}

.colorTd {
	color: red;
}

.blank_row {
	height: 10px;
}