<%= render 'nav' %>

<div class="container col-md-offset-4"">
	<h1>Bem-vindo ao Blog</h1>
	<%= image_tag("rails.png") %>
</div>
	<h3 style="text-align: center;">Blog criado por Igor Figueira Pinheiro da Silva</h3>