<div class="nav">
    <ul class="pull-left">
      	<%= link_to 'Index', controller: 'welcome' %>
    </ul>
    <ul class="pull-left">
    	<%= link_to 'Blog', controller: 'articles' %>
    </ul>
</div>

<h1>Bem-vindo ao Blog!</h1>
<h3>Dono do site: Igor Figueira Pinheiro da Silva</h3>
